@use '../abstracts' as *;

@mixin breakpoint($key) {
  $size: map-get($breakpoints, $key);

  @if $size {
    @media only screen and (min-width: $size) {
      @content;
    }
  }
}

@mixin flex($dir: row, $wrap: nowrap, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin customScrollBar(
  $width: 3px,
  $scrollDefaultColor: var(--color-palette-primary-500),
  $scrollHoverColor: var(--color-palette-primary-600)
) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollDefaultColor;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollHoverColor;
  }
}
@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin define-font($size, $name) {
  $target: map-get($typography, $size);

  @if $target {
    $level: map-get($target, $name);

    @if ($level) {
      font-size: map-get($level, font-size);
      font-weight: map-get($level, font-weight);
      line-height: map-get($level, line-height);
    }
  }
}

@mixin typography($name: body-medium) {
  @include define-font(large, $name);

  @each $size in $breakpoints-list {
    @include breakpoint($size) {
      @include define-font($size, $name);
    }
  }
}
