.present-time {
  @include typography(body-large);
  @include flex($justify: center);
  --text-color: var(--color-text-primary-700);
  --border-color: var(--color-palette-primary-100);

  color: var(--text-color);
  border: solid 1px var(--border-color);
  border-radius: $border-radius-xs;
  width: 8rem;
  cursor: pointer;
  background-color: transparent;

  padding: space(2) space(5);

  &_active {
    background-color: var(--color-palette-primary-400);
    --border-color: var(--color-palette-primary-400);
    --text-color: var(--color-text-secondary-100);
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }


}
