.base-button {
  @include flex($justify: center, $align: center);
  position: relative;
  min-height: 3.5rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
  padding: 0 space(4);
  border-radius: $border-radius-xl;
  @include typography(title-large);
  &_filled {
    color: var(--color-text-secondary-100);
    background-color: var(--color-palette-primary-400);
  }
  // TODO : complete this styles
  &_outlined {
  }
  &_text {
  }

  &_block {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-palette-primary-200);
  }
  &_loading {
    cursor: not-allowed;
  }
}
