.search-bar {
  @include flex();
  gap: space(2);
  width: 100%;
  border-radius: $border-radius-xl;
  padding: space(3);
  border: solid 1.5px var(--color-background-tertiary);
  background-color: var(--color-background-secondary);
  height: 50px;

  &__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: var(--color-text-primary-700);
    &::placeholder {
      color: var(--color-text-secondary-500);
    }
  }
}
