.login-form {
  @include flex(column, $align: end);
  gap: space(10);
  height: 100%;

  &__messages {
    @include flex($justify: space-between);
    @include typography(body-medium);
    width: 100%;
  }

  &__signup-message {
    color: var(--color-text-secondary-500);
  }

  &__signup {
    color: var(--color-palette-primary-400);
    text-decoration: none;
  }
  &__forgot-password {
    color: var(--color-palette-primary-400);
    background-color: transparent;
    text-decoration: none;
  }
  &__submit-wrapper {
    margin-top: auto;
    width: 100%;
  }
}
