.header {
  @include flex($justify: center);
  width: 100%;
  padding: space(5);
  position: relative;
  &__title {
    text-align: center;
    color: var(--color-text-primary-700);
  }
  &__icon {
    cursor: pointer;

    position: absolute;
    left: space(10);
    top: space(9);
    > div > div {
      @include flex($align: center);
      width: space(6);
      height: space(6);
      svg,
      path {
        color: var(--color-text-primary-700);
      }
    }
  }
}
