$palette: (
  light: (
    primary: (
      100: #d6f3f1,
      200: #a5e4df,
      300: #74d4cd,
      400: #199a8e,
      500: #158b80,
      600: #127a70,
      700: #0f695f
    ),
    secondary: (
      100: #e5f8f7,
      200: #c1efe8,
      300: #9de6d9,
      400: #7addd9,
      500: #57d4ca,
      600: #34cbbc,
      700: #11c2ad
    )
  ),
  dark: (
    primary: (
      100: #004e49,
      200: #005e59,
      300: #006e69,
      400: #199a8e,
      500: #177772,
      600: #186881,
      700: #197991
    ),
    secondary: (
      100: #003b37,
      200: #004b47,
      300: #005c57,
      400: #006c66,
      500: #007d76,
      600: #008d86,
      700: #009d96
    )
  )
);

$text: (
  light: (
    primary: (
      100: #738b91,
      200: #5e6a7d,
      300: #495369,
      400: #101623,
      500: #0c1019,
      600: #080c11,
      700: #040608,
      800: #000000
    ),
    secondary: (
      100: #ffffff,
      200: #c1c7cf,
      300: #cad0d7,
      400: #d3d9e0,
      500: #a1a8b0,
      600: #8c939b,
      700: #737a82,
      800: #5a6168
    )
  ),
  dark: (
    primary: (
      100: #00121a,
      200: #001e2c,
      300: #002a3e,
      400: #101623,
      500: #495369,
      600: #5e6a7d,
      700: #ffffff
    ),
    secondary: (
      100: #00121a,
      200: #788186,
      300: #677276,
      400: #a1a8b0,
      500: #bbbfc5,
      600: #a1a6ad,
      700: #888e96
    )
  )
);

$background: (
  light: (
    primary: #ffffff,
    secondary: #f9fafb,
    tertiary: #e5e7eb,
    overlay: #1016234d,
    root: #ededed
  ),
  dark: (
    primary: #101623,
    secondary: #101623,
    tertiary: #e5e7eb,
    overlay: #f9fafb,
    root: #0b0e16
  )
);

$alert: (
  light: (
    info: (
      5: #f2f9ff,
      15: #d9edff,
      100: #0085ff
    ),
    error: (
      5: #f5d9e0,
      100: #ff0000
    ),
    success: (
      5: #daf5ed,
      100: #00bf7a
    )
  ),
  dark: (
    info: (
      5: #f2f9ff,
      15: #d9edff,
      100: #0085ff
    ),
    error: (
      5: #f5d9e0,
      100: #bf002e
    ),
    success: (
      5: #daf5ed,
      100: #00bf7a
    )
  )
);
