$border-radius-circle: 50%;

$border-radius-base: 4px;
$border-radius-xxs: 8px;
$border-radius-xs: 12px;
$border-radius-sm: 16px;
$border-radius-md: 20px;
$border-radius-lg: 24px;
$border-radius-xl: 30px;
$border-radius-xxl: 50px;
